<a href='#' class='btn span1'><i class='icon-plus' style='font-size: 72px;'></i><br />Dodaj</a>

<a href='#' class='btn span1'><i class='icon-warning-sign' style='font-size: 72px;'></i><br />Dodaj</a>

<a href='#' class='btn span1'><i class='icon-facetime-video' style='font-size: 72px;'></i><br />Dodaj</a>